.getCalls {
  display: grid;
  grid-template-columns: 40% 30% 20%;
}
.GetCallsButton {
  margin-top: 25%;
}

.Alerts {
  display: grid;
  grid-template-columns: 20% 25% 20%;
  border-top: 2px solid #02203c;
}
.email {
  margin-top: 0%;
}
.emailMultiSelect {
  margin-top: 5%;
}
.subscribtion {
  grid-area: 1/4/1/5;
  margin-top: 17%;
}
.SearchCom {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  border-top: 2px solid #02203c;
}
.searchButton {
  grid-area: 2/ 3 / 5/ 4;
  margin-top: 10%;
  margin-left: 70%;
}
.searchMultiSelect {
  margin-top: 10px;
}
.ResultTable {
  grid-area: 3/ 1 / 5 / 6;
  margin-top: 100px;
}
.startDate {
  margin-top: 14%;
}
.endDate {
  margin-top: 14%;
}
#date-picker-inline {
  border: #02203c;
}
