.UpdateParent {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px;
  gap: 100px;
}

.Alerts {
  display: grid;
  grid-template-columns: 30vw 30vw 25vw;
  margin-left: 9vw;
}
.email {
  margin-top: 50px;
}

.emailMultiSelect {
  margin-top: 50px;
}
.test {
  margin-bottom: 4px;
}
.subButton {
  display: grid;
  grid-template-rows: 50px;
  margin-top: 90px;
}

.SearchCom {
  display: grid;
  grid-template-columns: 25vw 25vw 15vw 15vw 9.39vw;
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 100px;
}
.status {
  margin-top: 64px;
}
.textEdit {
  margin-bottom: 31px;
}

.searchButton {
  grid-area: 2/ 2 / 3/ 4;
  margin-top: 70px;
  text-align: center;
  margin-left: 5vw;
}

.ResultTable {
  grid-area: 3/ 1 / 4 / 6;
  margin-top: 60px;
  row-gap: 40px;
}

.startDate {
  margin-top: 47px;
}
.endDate {
  margin-top: 47px;
}
#date-picker-inline {
  border: #02203c;
}
.MuiButton-root {
  width: 10vw;
  height: 38px;
  font-size: 0.9vw !important;
}
.go3433208811.dropdown-container {
  width: 20vw;
}
.page-container {
  min-height: calc(100vh - 274px);
}
.MuiBox-root {
  padding: 0 !important;
  /* margin:0 !important; */
}
