

body {
  background-color: white;
}

#textFontFamily {
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: -0.012em;
  color: #283747(31, 29, 29);
}

#text_select {
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: -0.012em;
  color: 283747 (19, 15, 15);
  font-size: 13px;
}

#text_select::hover {
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: -0.012em;
  color: black;
  background-color: whitesmoke;
}
.label {
  background-color: whitesmoke;
}
h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: -0.012em;
  font-size: 2.33vw;
  color: #283747;
  margin-top: 0px;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: -0.012em;
  color: #283747;
  margin-top: 6px;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: -0.012em;
  font-size: 14px;
  line-height: 15.4px;
  color: #283747;
}
h5 {
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: -0.012em;
  color: #283747;
}
p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.012em;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -0.012em;
  line-height: 30px;
}
pre {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.012em;
  line-height: 18.5714px;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.012em;
  line-height: 15.4px;
}
p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.012em;
  line-height: 20px;
}
blockquote {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -0.012em;
  line-height: 30px;
}

pre {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.012em;
  line-height: 18.5714px;
}

.App {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header {
  text-align: center;
  /* height: 50%; */
}
.Search {
  color: #283747;
  margin-left: 20px;
  font-size: 9.5px;
}
#fields {
  background-color: rgb(27, 25, 25);
  size: 2px;
  height: 2px;
}

.Tags {
  display: grid;
}

#tab {
  width: 140px;
}
.type {
  display: grid;
}
.counrty {
  display: grid;
}
.select {
  width: 300px;
  --rmsc-background: #283747;
}
.select_role {
  width: 200px;
}
/* new style */

.multi-select {
  background-color: #283747;
  color: "white";
  --rmsc-gray: #283747;
}

.go977458394.selected {
  color: #283747;
}

.go977458394 :hover {
  color: #283747;
}

.go4079732705 .gray {
  color: #f8f9fa;
}

.go4079732705,
.gray span {
  color: #283747;
}

.dropdown-heading-value span {
  font-size: 13px;
  color: #283747;
  /* outline-color: white;
  color-adjust: white;
  text-decoration: white;
  text-decoration-color: white; */
}

.go2885254090 input {
  color: whitesmoke;
}

.go1053659416 dropdown-heading {
  color: white;
}
.go3433208811 dropdown-container {
  color: white;
}
.go4079732705 select {
  color: white;
}
.MuiFormControl-root {
  color: rgb(231, 226, 226);
}
.dropdown-heading,
.dropdown-heading-value {
  background-color: #eef1f4;
  color: "white";
}

.dropdown-content {
  background-color: #d2dfdf;
  color: "white";
}

.select-panel {
  background-color: #adb3b9;
  color: "white";
}
.go2885254090 input {
  background-color: #a1a8af;
  color: "white";
}

.select_role css-2b097c-container {
  background-color: #283747;
  color: "#283747";
}

.css-yk16xz-control {
  background-color: #283747;
  color: "white";
}

.MuiDialogTitle-root {
  background-color: #283747;
}

.MuiTypography-h6 {
  display: flex;
  color: white;
  font-style: normal;
  font-variant: normal;

  font-size: 30px !important;
}
.input_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: 25% 30% 30% 25%;
  margin-left: 20px;
  font-size: 9.5px;
}
.fourth_row {
  color: black;
  margin-top: 35px;
  display: grid;
  grid-template-columns: auto 0.5fr auto;
  margin-left: 20px;
  font-size: 9.5px;
}

.alert_email {
  display: grid;
  grid-template-columns: 8% 35% 28% 25% 1%;
}
.res_score {
  display: grid;
  grid-template-columns: 17% 17%;
}
.countries_scores {
  color: black;
  display: grid;
  grid-template-columns: 17% 17% 17.5% 17% 17.5% 17%;
}
.line {
  border-top: 5px solid #283747;
  width: 80%;
  margin-left: 130px;
  margin-top: 20px;
}
.first_ty {
  color: black;
  display: grid;
  grid-template-columns: 0.36fr 0.2fr 0.18fr 0.2fr 0.16fr 0.2fr;
}
.Projects {
  display: grid;
  grid-template-columns: auto;
}
.Buttons {
  margin-top: 42px;
  text-align: center;
}

.update {
  display: grid;
  grid-template-columns: 0.29fr 0.3fr;
}
.MuiSelect-iconOpen {
  background-color: #283747;
}
#BackgroundColor {
  background-color: #283747;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-variant: normal;
}

#app {
  padding: 40px;
}

div.ReactTags__tags {
  position: relative;
  color: white;
  font-size: 20;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 240px;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField {
  height: 38px;
  margin: 0px;
  font-size: 14px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-variant: normal;
  width: 20vw;
  border: 1px solid #283747;
  padding: 0 4px;
  background-color: #f6f7f8;
  color: rgb(7, 6, 6);
}

div.ReactTags__tagInput input.ReactTags__tagInputField::placeholder {
  color: rgb(29, 27, 27);
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #283747;
  background: #283747;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  color: white;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  /* box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2); */
  background: #10131011;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #283747;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: #283747;
  font-weight: 600;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white !important;
}

.MuiTableSortLabel-root:hover {
  color: white !important;
}

.MuiTableSortLabel-root:focus {
  color: white !important;
}

.MuiDivider {
  font-weight: 900;
  margin: 100px;
}

.MuiTypography-caption {
  color: white;
}
.MuiInputBase-input {
  width: 100%;
  height: 10em;
}

#exitColor {
  background-color: red;
}
.MuiOutlinedInput-root {
  width: 20vw;
  height: 38px;
  margin: 0px;
}
.css-26l3qy-menu {
  color: #283747;
}
#italy,
#france,
#germany,
#denmark,
#switzerland,
#uk,
#ireland,
#norway,
#spain,
#portugal,
#czech,
#finland,
#austria,
#ukranie,
#turkey,
#israel,
#resScore,
#email,
#other,
#university,
#agency,
#start_up,
#RD,
#company {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-variant: normal;
  color: rgb(15, 15, 15);
}
